/**
Entire page Styles
**/
th {
    font-size: 2.0em;
    font-family: "Overwatch";
}

@font-face { font-family: "Overwatch"; src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff'); }	
.player {
    width: 100%;
    margin: 5px auto;
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
    border-radius: 120px 12px 120px 12px;
    -moz-border-radius: 120px 12px 120px 12px;
    -webkit-border-radius: 120px 12px 120px 12px;
    border: 0px solid #000000;
    -webkit-box-shadow: 6px 9px 7px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 6px 9px 7px 1px rgba(0,0,0,0.48);
    box-shadow: 6px 9px 7px 1px rgba(0,0,0,0.48);
}

p {
    font-size: 1.7em;
    font-family: "Overwatch";
}

h2, h1 {
    color: grey;
    font-family: "Overwatch";
}

#header > h1 {
    font-size: 3.0em;
    color: orange;
}
   
html {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 56%, rgba(0,0,0,0.04) 59%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 56%,rgba(0,0,0,0.04) 59%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 56%,rgba(0,0,0,0.04) 59%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    min-height: 100%;				
}
    
/**
Component Specfic Styles
**/
table {
    margin: auto;
    width:90%;
}

td p {
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
}

#header, .notes {
    text-align: center;
    margin: auto;
    width: 50%;
}

#top3HeroContainer {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 100%;
}

#top3HeroContainer div {
    display: inline-block;
    height: 20%;
    width: 20%;
}

.heroImg {
    transform: scale(0.75);
}

.top3HeroCell {
    margin: 0 auto;
    width: 40%;
}

/** 
Spinner CSS Styles
**/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}








